APP_NAME=piqlConnect
APP_ENV=local
APP_KEY=base64:1OR5DP+lSCeAqhOHaQD8DTwM4+3jlg+qej4btEm4o9w=
APP_DEBUG=true
APP_URL=http://_HOSTNAME_

# APP_DEBUG_SKIP_INGEST_STATUS (default = false)
# Set to true to skip ingest status validation. Not recomended
#APP_DEBUG_SKIP_INGEST_STATUS=true

# APP_DEBUG_SAVE_METADATA_FILE (default = false)
# Set to true to save a copy of the generated metadata file
# this is sent with the bag
#APP_DEBUG_SAVE_METADATA_FILE=true

# APP_AM_INGEST_METADATA_FILE_FORMAT (default = csv)
# Set which metadata format to use when generating metadata file
# sent with bags
#APP_AM_INGEST_METADATA_FILE_FORMAT=csv

# APP_INGEST_BUCKET_SIZE (default = 120000000000)
# After a complete ingest AIPs are added to a bucket
# Sets the maximum bucket size in bytes
#APP_INGEST_BUCKET_SIZE=120000000000

# Ingest validation service (default = App\Services\IngestValidationService)
#APP_INGEST_VALIDATION_SERVICE=App\Services\IngestValidationService

# Pre process bag service (default = App\Services\PreProcessBagService)
#APP_PRE_PROCESS_BAG_SERVICE=App\Services\PreProcessBagService

# Uploder path
STORAGE_UPLOADER_PATH=uploader

# Bag path
STORAGE_BAGS_PATH=bags

# Messages processing path
STORAGE_MESSAGES_PROCESSING_PATH=messages-processing

# Messages processed path
STORAGE_MESSAGES_PROCESSED_PATH=messages-processed

# Messages failed path
STORAGE_MESSAGES_FAILED_PATH=messages-failed

# Archivematica transfer path
# This is where ingested bags are stored
STORAGE_TRANSFER_PATH=am/ss-location-data

# Archivematica storage loaction ID
STORAGE_LOCATION_ID=3bf2fd97-5350-4ace-a4dc-02045ae97076

# Archivematica AIP storage path
# This is where Archivematica storage server stores AIPs
STORAGE_AIP_PATH=am/am-pipeline-data/www/AIPsStore

# Archivematica DIP storage path
# This is where Archivematica storage server stores DIPs
STORAGE_DIP_PATH=am/am-pipeline-data/www/DIPsStore

# When a clinet request to download a file, the file is
# download from S3 to a temporary directory before
# a clinet can start to download the file
# This is the path to where the downloed file is
# temporarily stored
STORAGE_OUTGOING_DOWNLOADS_FOLDER="outgoing"

# Maximum simultaneous bags processing
MAX_SIMULTANEOUS_BAGS_PROCESSING=1

# AMU connection configuration
AMU_SOAP_AUTH_ENABLED=false
AMU_ACWS_HOST=testamu1.piql.com
AMU_ACWS_PROTOCOL=http
AMU_ACWS_SOAP_PORT=8081
AMU_WSDL_PATH=http://testamu1.piql.com/interface/ac.wsdl

LOG_CHANNEL=stack

DEFAULT_ENTRIES_PER_PAGE=5
DEFAULT_INTERFACE_LANGUAGE=en
DEFAULT_WORKFLOW_INGEST_COMPOUND_MODE_ENABLED=true


# ENABLE_SINGLE_FILE_INGEST_OPTION (default false)
#ENABLE_SINGLE_FILE_INGEST_OPTION=false

# ENABLE_OFFLINE_ACTIONS (default true)
#ENABLE_OFFLINE_ACTIONS=true

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=connect
DB_USERNAME=connectdbuser
DB_PASSWORD=AeJua4le

BROADCAST_DRIVER=redis
CACHE_DRIVER=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=piqlconnect@piql.com
MAIL_FROM_NAME=piqlConnect

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MONGO_DB_HOST=mongodb
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=connectstats
MONGO_DB_USERNAME=connectuser
MONGO_DB_PASSWORD=Fw86TQZrJ5
