/node_modules
/public
/storage/
/vendor
.env
.env.testing
.phpunit.result.cache
.php_history
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/js/vue-i18n-locales.generated.js
package-lock.json
composer.lock
laravel-echo-server.json
/nbproject
.idea/
/deploy/db/*
.config/
.bash_history
.zcompdump
.zsh_history
.zshrc
*~
tags
tags.lock
tags.temp
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]


/nbproject/private/
.gitconfig
.wget-hsts
.zsh
zsh.sh
.zcompdump*
install.sh
laravel-echo-server.lock
deploy/nginx/ssl/fullchain.key
deploy/nginx/ssl/fullchain.pem

package-lock.json
*.js.snap

.composer
composer.phar
.rnd
piql_connect.code-workspace
resources/js/app.jse

