//CREATE ENVIRONMENT VARIABLES AS OBJECTS OR VARIABLES
//AND ADD THEM TO THE EXPORTED OBJECT TO BE USED IN APP.JS

const keycloakConfig = {
    realm: process.env.AUTH_REALM,
    url: process.env.AUTH_BASE_URL,
    clientId: process.env.AUTH_CLIENT,
}


export default {
    keycloakConfig
}
