// Variables
@import 'variables';

//colors
$white: white;
$black: black;
$red:  red;
$gray: grey;

$color_main_brand: #cc3b0d;
$color_background: #4d324d;
$color_background_dark: #30242c;
$color_background_1: #6a4b5b;
$color_background_1_transparent: #6a4b5b40;
$color_background_2: #b092a2;
$color_background_2_transparent: #b092a240;
$color_background_3: #d7c5cf;
$color_background_3_transparent: #d7c5cf40;
$color_secondary: #8f0052;
$color_secondary_1: #aa405d;
$color_secondary_2: #c27484;
$color_secondary_2_transparent: #c2748440;
$color_secondary_3: #deb3b9;
$color_secondary_3_transparent: #deb3b940;
$color_signal: #ff194d;
$color_fill: #808080;
$color_fill_0: #f0f0f0;
$color_fill_1: #ababab;
$color_fill_2: #c7c7c7;
$color_fill_2_transparent: #c7c7c740;
$color_fill_3: #e3e3e3;
$color_fill_3_transparent: #e3e3e340;
$color_fill_dark: #605f5f;
$color_fill_verydark: #403f3f;

//fonts
$font_agenda: 'Agenda';
$font_agenda_bold: 'Agenda Bold';
$font_agenda_black: 'Agenda Bold';
$font_1: 'Agenda';
$font_2: 'Gill';
$font_open_sans: 'OpenSans';
$font_open_sans_bold: 'OpenSans Bold';
$font_open_sans_semibold: 'OpenSans SemiBold';
$font_open_sans_light: 'OpenSans Light';
$font_4: 'sans-serif';
$font_5: 'Agenda';
$font_6: 'Gill';
$font_7: 'OpenSans';
$font_8: 'sans-serif';
$font_9: 'Agenda';
$font_10: 'Arial';
$font_11: 'Helvetica';
$font_12: 'sans-serif';

//fonts
$font_agenda_url: url('/fonts/Agenda-Regular.otf');
$font_agenda_black_url: url('/fonts/Agenda-Black.otf');
$font_agenda_bold_url: url('/fonts/Agenda-Bold.otf');
$font_opensans_url: url('/fonts/OpenSans-Regular.ttf');
$font_opensans_bold_url: url('/fonts/OpenSans-Bold.ttf');
$font_opensans_semibold_url: url('/fonts/OpenSans-SemiBold.ttf');
$font_opensans_light_url: url('/fonts/OpenSans-Light.ttf');



//images
$image_login-bg_url: url('/images/bg-image.png');
$image_searchicon_url: url('/images/searchicon.png');
$image_piql-logo-white_url: url('/images/piql_logo_white.png');

//@extend-elements
//original selectors
//html, body
%extend_1 {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    font-family: $font_1, $font_2, $font_open_sans, $font_4;
    margin: 0;
    padding: 0;
    background-color: $color_fill_3;
    position: relative;
    overflow-x: hidden;
    color: $color_fill;
    //font-size: 16px;
}

//original selectors
//#theForm label, .forgot
%extend_2 {
    //font-size: 10px;
    color: $color_fill_dark;
    width: 100%;
}

//original selectors
//.sideMenu ul .fas, #sideMenu ul .far
%extend_3 {
    font-size: 2rem;
    position: absolute;
    left: 24px;
}

//original selectors
//#sideMenuCollapsed ul .fas, #.ideMenuCollapsed ul .far
%extend_4 {
    font-size: 1.8rem;
    position: absolute;
    left: 24px;
}

//original selectors
//.listFilter input, .listFilter select, .listFilter option
%extend_5 {
    background-color: $white;
    border: 0;
    vertical-align: top;
    padding-left: 3px;
    color: $color_fill_verydark;
    //font-size: 12px;
    margin-right: 15px;
    min-height: 40px !important;
    line-height: 40px;
    //Instead of the line below you could use @include box-sizing($bs)
//    box-sizing: content-box;
    //vendor-prefix found
    //-moz-box-sizing: content-box
    //vendor-prefix found
    //-webkit-box-sizing: content-box
    min-width: 100px;
}

//original selectors
//.list table thead, th
%extend_6 {
    text-align: left;
    border: 0;
    padding: 20px;
    background-color: $color_fill_3;
    //font-size: 12px;
}

//original selectors
//.accountSettings input[type="text"], .accountSettings input[type="password"], .accountSettings textarea, .accountSettings select
%extend_7 {
    width: 460px;
    padding: 5px;
    margin-bottom: 10px;
    border: 0;
    height: 35px;
    //vendor-prefix found
    //-ms-box-sizing: content-box
    //vendor-prefix found
    //-moz-box-sizing: content-box
    //vendor-prefix found
    //-webkit-box-sizing: content-box
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
}

//original selectors
//.accountSettings .inputSubmitCancel, .accountSettings .inputSubmitSave
%extend_8 {
    float: right;
    margin-left: 10px;
    margin-right: 13px;
}


@font-face {
    font-family: $font_agenda;
    src: $font_agenda_url format("opentype");
}

@font-face {
    font-family: $font_agenda_bold;
    src: $font_agenda_bold_url format("opentype");
}

@font-face {
    font-family: $font_agenda_black;
    src: $font_agenda_black_url format("opentype");
}



@font-face {
    font-family: $font_open_sans;
    src: $font_opensans_url format("truetype");
}

@font-face {
    font-family: $font_open_sans;
    src: $font_opensans_url format("truetype");
}

@font-face {
    font-family: $font_open_sans_bold;
    src: $font_opensans_bold_url format("truetype");
}

@font-face {
    font-family: $font_open_sans_semibold;
    src: $font_opensans_semibold_url format("truetype");
}


@font-face {
    font-family: $font_open_sans_light;
    src: $font_opensans_light_url format("truetype");
}

html {
    @extend %extend_1;
}
body {
    @extend %extend_1;
    font-family: 'OpenSans';
    -webkit-text-size-adjust: none;
    overflow-y: hidden;
}

@media (min-height: 900px) {
    body {
        overflow-y: hidden;
    }
}
.burgerMenu {
    display: none;
}
.fixed_headers {
    width: 750px;
    table-layout: fixed;
    border-collapse: collapse;
    th {
        text-decoration: underline;
        padding: 5px;
        text-align: left;
        &:nth-child(1) {
            min-width: 200px;
        }
        &:nth-child(2) {
            min-width: 200px;
        }
        &:nth-child(3) {
            width: 350px;
        }
    }
    td {
        padding: 5px;
        text-align: left;
        &:nth-child(1) {
            min-width: 200px;
        }
        &:nth-child(2) {
            min-width: 200px;
        }
        &:nth-child(3) {
            width: 350px;
        }
    }
    thead {
        background-color: $color_fill;
        color: $color_fill_3;
        tr {
            display: block;
            position: relative;
        }
    }
    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 300px;
        tr:nth-child(even) {
            background-color: $color_fill_2;
        }
    }
}
.old_ie_wrapper {
    height: 300px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    tbody {
        height: auto;
    }
}
.chart {
    position: relative;
    height: 15vh;
    width: 35vw;
    float: left;
    margin: 25px 25px 50px 25px;
}
h1 {
    font-family: 'Agenda' !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.pageHeaderText {
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 0.75em;
    font-family: $font_agenda_bold !important;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;

}

.ingressText {
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 0.75em;
    font-family: $font_agenda !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8rem;
}


.noTextTransform {
    text-transform: none;
}
h2 {
    font-family: 'Agenda';
    font-size: 1.6rem;
}
hr {
    border: 0.5px solid $color_main_brand;
    margin-top: 50px;
    margin-bottom: 50px;
}

h5 {
    font-family: 'Agenda';
    font-size: 0.8rem;
}

em {
    display: block;
    margin: 0;
    padding: 0;
    font-style: normal;
    //font-size: 12px;
    color: $color_fill_dark;
}
a {
    text-decoration: none;
    color: $white;
    &:visited {
        text-decoration: none;
    }
}
.clearboth {
    clear: both;
}

.plist {
    padding: 0.5rem;
    min-height: 4.2rem;
    max-height: 4.2rem;
    font-size: 1.0rem;
    border-bottom: 1px solid lightgray;
    background: white;
}

.thumbnailList {
    height: 4.5rem;
    font-size: 1.0rem;
    border-bottom: 1px solid lightgray;
    background: white;
}

.thumbnailImage {
    height: 2.8rem;
    max-width: 5rem;
    margin: 0.05rem;
    padding-bottom: 0.4rem;
}

.upload-widget-back {
    background: $color_fill_0;
}

.file-widget-back {
    background: $color_fill_0;
}


.linked {
    border-bottom: 1px dashed $black;
    color: $black;
}

.plistHeader {
    background-color: $color_fill_0;
    padding: 0.7rem 0px;
    border-bottom: 1px solid $color_background_dark;
    font-family: $font_open_sans_bold;
    font-size: 0.8rem;
    text-align: left;
    color: black;
}

.listActionItems {
    color: $color_signal;
    //font-size: 28px;
}
.list {
    position: relative;
    overflow-y: auto;
    width: 100%;
    table {
        width: 100%;
        text-align: left;
        color: $black;
        border: 0;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        thead {
            @extend %extend_6;
            tr {
                position: sticky;
                top: 0;
                width: 100%;
                padding: 0;
                margin: 0 0 150px 0;
                border-bottom: 1px solid $red;
                th {
                    min-width: auto;
                }
            }
            th .text {
                z-index: 2;
                height: 20px;
                min-width: 50px;
                padding-bottom: 20px;
                text-align: left;
            }
        }
        tr {
            background-color: $white;
            border-bottom: 1px solid $color_fill_2;
        }
        .greyedOut {
            color: $gray;
            a {
                color: $gray;
                border-bottom: 1px dashed $gray;
            }
        }
        td:last-child {
            text-align: right;
        }
        th:last-child {
            text-align: right;
        }
        .linked a {
            border-bottom: 1px dashed $black;
            color: $black;
        }
    }
    i {
        color: $color_signal;
        //font-size: 20px;
        &:hover {
            color: $color_fill_dark;
        }
    }
    td {
        padding: 20px;
    }
    td[colspan="4"] {
        text-align: left !important;
    }
    .contentOptionsRow {
        background-color: transparent;
        border-bottom: 0;
        td {
            text-align: left !important;
            padding: 10px 40px 0;
        }
    }
    #multipleOptions i {
        padding-right: 20px;
        &:last-child {
            padding-right: 0;
        }
    }
}
.table-scroll {
    height: 400px;
    overflow: auto;
    margin-top: 20px;
}
.formRow {
    position: relative;
    height: auto;
    margin-bottom: 5px;
    clear: both;
    min-height: 40px;
}
input[type="text"] {
    background-color: $white;
    border: 0;
    height: 30px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    padding: 20px;
}
input[type="number"] {
    background-color: $white;
    border: 0;
    height: 30px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    padding: 4px;
}
*:focus {
    outline: 0 !important;
}
.dropdown {
    &-menu{
        background-color: $white;
        color: $white;
        outline: 0;
        &:focus{
            background-color: $color_fill_3;
            color: $black;
            outline: 0 !important;
        }

    }
    &-toggle{
        background-color: $white !important;
        color: $black !important;
        outline: 0;
   }
    &-item{
        outline: 0;
        background-color: $white;
        color: $black;
        &.selected {
            background-color: $white;
            outline: 0 !important;
            color: $black;
        }
        &:hover {
            background-color: $color_fill_3;
            color: $black;
            outline: 0 !important;
        }
    }
}

.search-icon-inline {
    position: absolute;
    right: 0.3rem;
    top: 20%;
    z-index: 1000;
}
select {
    width: 100%;
    height: 50px;
    background-color: $white;
    border: 0;
    line-height: 1.5;
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
textarea {
    min-width: 300px;
    background-color: $white;
    border: 0;
    height: 30px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 2px;
    padding: 4px;
    top: 0;
}
.inputSubmitSave {
    background: $color_main_brand;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    border: 4px solid $color_main_brand;
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    padding: 3px 5px 5px;
    //font-size: 12px;
    height: 25px;
    margin-bottom: 4px;
}
.inputSubmitCancel {
    background: $gray;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    border: 4px solid $gray;
    width: 80px !important;
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    padding: 3px 5px 5px;
    //font-size: 12px;
    height: 25px;
    margin-bottom: 4px;
    margin-right: 10px;
}
label {
    display: inline-block;
    width: 200px;
    top: 0;
}
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile {
    + .filelabel {
        margin-top: 2px;
        background: $color_main_brand;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        border: 2px solid $color_main_brand;
        width: auto;
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        padding: 3px;
        //font-size: 11px;
        &:hover {
            background-color: $color_fill_dark;
            border: 2px solid $color_fill_dark;
        }
    }
    &:focus + .filelabel {
        outline: 1px dotted $black;
        //vendor-prefix found
        //outline: -webkit-focus-ring-color auto 5px
        background-color: $color_fill_dark;
        border: 2px solid $color_fill_dark;
    }
}
.btn {
    color: $white;
    text-align: center;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    min-width: 100px;
    padding: 0.75rem !important;
    background-color: $color_main_brand;
    outline: 0 !important;
    border: 0;
    &-light {
        outline: 0 !important;
        background-color: $white !important;
        color: $black;
    }

    &-radio {
        width: 5rem;
    }

    &.active {
        background-color: $color_main_brand !important;
        color: $white !important;
    }

    &:hover {
        background-color: $color_fill_verydark;
    }

    &:focus {
        outline-color: $color_background_3 !important;
        background-clip: padding-box;
        border: 1px solid $color_background_2_transparent !important;
        box-shadow: 0 0 0 0.2rem $color_background_3_transparent !important;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

}

button {
    .disabled {
        background-color: $gray !important;
    }
}

.btn-right {
    float: right;
}
.btn-left {
    float: left;
}
.btn-full {
    width: 100% !important;
}
.btn-auto {
    width: auto !important;
}
:focus {
    outline: none !important;
}
.checkbox {
    appearance: none;
    background-color: $white;
    height: 12px;
    width: 12px;
    //vendor-prefix found
    //-webkit-appearance: none
    background-color: $white;
    border: 1px solid $color_signal;
    padding: 8px !important;
    display: inline-block;
    position: relative;
    margin: 0;
    //vendor-prefix found
    //-webkit-touch-callout: none
    //vendor-prefix found
    //-webkit-user-select: none
    //vendor-prefix found
    //-khtml-user-select: none
    //vendor-prefix found
    //-moz-user-select: none
    //vendor-prefix found
    //-ms-user-select: none
    //Instead of the line below you could use @include user-select($select)
    user-select: none;
    //vendor-prefix found
    //-webkit-tap-highlight-color: transparent
    &:checked {
        background-color: $white;
        border: 1px solid $color_signal;
        color: $color_fill_1;
        //vendor-prefix found
        //-webkit-touch-callout: none
        //vendor-prefix found
        //-webkit-user-select: none
        //vendor-prefix found
        //-khtml-user-select: none
        //vendor-prefix found
        //-moz-user-select: none
        //vendor-prefix found
        //-ms-user-select: none
        //Instead of the line below you could use @include user-select($select)
        user-select: none;
        //vendor-prefix found
        //-webkit-tap-highlight-color: transparent
        &:after {
            content: '\2714';
            //font-size: 14px;
            position: absolute;
            top: 0;
            left: 3px;
            color: $color_signal;
        }
    }
}
.checkbox[disabled] {
    border: 1px solid $gray;
    background: $color_fill_2;
}
.loginForm {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    height: auto;
    padding-bottom: 30px;
    background-color: $color_fill_2;
    color: $color_fill_dark;
    text-align: center;
    label {
        text-align: left;
    }
    img {
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
    }
    a {
        color: $color_fill_dark;
        text-decoration: underline;
        &:hover {
            color: $black;
        }
    }
}
.loginBody {
    height: 100vh;
    background-image: $image_login-bg_url !important;
    background-size: 15%;
    background-repeat: repeat;
}

.theLoginForm {
    margin-left: auto;
    margin-right: auto;
    input {
        background-color: $white;
        height: 2rem;
        width: 20rem;
        //font-size: 16px;
        border: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5%;
    }
    input[type=submit] {
        background-color: $color_main_brand;
        color: $white;
        height: 50px;
        width: 100%;
        text-transform: capitalize;
    }
    label {
        @extend %extend_2;
    }
    .forgot {
        text-align: center;
        margin: 10px 0;
        display: block;
        width: 100%;
    }
}
.forgot {
    @extend %extend_2;
}
.piqlTop {
    width: 100%;
    background-color: $white;
    padding-bottom: 0.7rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
.piqlLogoOuter {
    box-shadow: 3px 0 0 0 $color_main_brand;
    width: 246px;
    padding-right: 275px;
    margin-right: 100px;
    margin-top: 40px;
    margin-left: 25px;
    float: left;
    position: absolute;

}
.piqlLogo {
    .img {
        text-align: center;
    }
    img {
        padding-top: 7px;
        height: 60px;
        left: 100px;
    }
}
.piqlNav {
    max-height: 100px;
    float: right;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    li {
        display: inline;
        padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 25px;
        line-height: 150px;
        text-transform: uppercase;
        color: $color_fill;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $color_main_brand;
        }
    }
    a {
        text-decoration: none;
        .active {
            color: $color_main_brand;
        }
    }
}
.customerLogo {
    position: absolute;
    left: 380px;
    top: 20px;
    height: 50px;
}
#piqlOptions {
    max-height: 110px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $white;
    //font-size: 24px;
    padding-top: 55px;
    padding-right: 50px;
    text-align: right;
    color: $color_signal;
    i {
        margin-right: 20px;
        &:hover {
            color: $color_fill;
        }
    }
    a {
        color: $color_signal;
    }
}
#noti {
    position: relative;
    &:after {
        content: attr(data-count);
        position: absolute;
        top: -10px;
        left: -8px;
        background: $color_fill_dark;
        font-family: $font_open_sans_bold;
        color: $white;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 22px;
        text-align: center;
        //font-size: 10px;
        display: block;
    }
}
.dropdownList{
    width: 15em;
    height: auto;
    background-color: $white;
    border: 2px solid $color_fill_dark;
    padding: 2px;
    padding-top: 15px;
    position: absolute;
    top: 100px;
    right: -1em;
    margin-right: 1.45em;
    text-align: left;
    //font-size: 0.7em;
    min-width: 18em;
    z-index: 99999;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 88%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: $color_fill_dark;
        border-top: 0;
        margin-left: -10px;
        margin-top: -10px;
    }
    strong {
        text-transform: uppercase;
        margin: 8px;
        color: $color_signal;
        font-weight: normal;
    }
    .when {
        background-color: $color_fill_2;
        text-transform: uppercase;
        width: 95%;
        color: $white;
        padding-left: 5%;
    }
    ul {
        padding: 15px;
        li {
            color: $color_fill;
            list-style-type: none;
        }
    }
}
.closeNotifications {
    //font-size: 34px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: $color_signal;
}
.container {
    position: absolute;
    left: 0px;
    height: calc(100vh - 180px);
}

.sideMenu {
    background-color: $color_background_1;
    font-size: 1rem;
    height: 100vh;
    width: 320px;
    padding: 0;
    padding-left: 1rem;
    color: $white;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    overflow: hidden;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: $white;
        .fas {
            @extend %extend_3;
        }
        .far {
            @extend %extend_3;
        }
    }
    li {
        display: block;
        //width: calc(100% - 30px);
        background-color: $color_background_dark;
        border-color: $color_background;
        color: white;
        height: 25px;
        padding: 15px;
        margin-bottom: 2px;
        text-transform: uppercase;
        &:hover {
            background-color: $color_main_brand;
        }
    }
    .leftSub {
        background-color: $color_background;
    }
    .leftMenuItem {
        font-style: normal;
        position: absolute;
        left: 5rem;
        margin-top: 3px;
        visibility: visible;
        opacity: 1;
    }
}

#welcomeText {
    margin: 25px 25px 60px 25px;
    text-transform: uppercase;
    width: 200px;
    float: left;
    visibility: visible;
    opacity: 1;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
    transition-delay: 0.3s;
}
#collapseSideMenu {
    width: 45px;
    margin-top: 25px;
    position: absolute;
    left: 250px;
    visibility: visible;
    opacity: 1;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: visibility 1s, opacity 1s linear;
    cursor: pointer;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: left 1s;
    img {
        //vendor-prefix found
        //-webkit-transform: rotate(0)
        //vendor-prefix found
        //-moz-transform: rotate(0)
        //vendor-prefix found
        //-o-transform: rotate(0)
        //vendor-prefix found
        //-ms-transform: rotate(0)
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(0);
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: transform 0.5s;
        width: 50px;
    }
}
.poweredBy {
    display: inline-flex;
    position: fixed;
    bottom: 0;
    width: 14rem;
    margin-left: 25px;
    opacity: 1;
    z-index: 2;
}

.poweredByText {
    margin-bottom: 2rem;
    padding-top: 1.2rem;
    display: inline-block;
}

.poweredByImg {
    margin-left: 0.7rem;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    display: inline-block;
    img {
        height: 3.0rem;
        float: left;
        margin-left: 5px;
    }
}
.activePage {
    background-color: $color_main_brand !important;
}
.sidebarWrapper {
    display: inline-table;
}

#sideMenuCollapsed {
    width: 6rem;
    position: relative;
    float: left;
    background-color: $color_background_1;
    height: 100vh;
    color: $white;
    overflow: hidden;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: $white;
        .fas {
            @extend %extend_4;
        }
        .far {
            @extend %extend_4;
        }
    }
    li {
        display: block;
        width: calc(100% - 30px);
        background-color: $color_background_dark;
        border-color: $color_background;
        color: white;
        height: 25px;
        padding: 15px;
        text-transform: uppercase;
        &:hover {
            background-color: $color_main_brand;
        }
    }
    .leftMenuItem {
        position: absolute;
        left: 60px;
//        visibility: hidden;
        font-style: normal;
        opacity: 0;
    }
    #welcomeText {
        visibility: hidden;
        opacity: 0;
    }
    #collapseSideMenu {
        position: absolute;
        left: 8px;
        img {
            //vendor-prefix found
            //-webkit-transform: rotate(180deg)
            //vendor-prefix found
            //-moz-transform: rotate(180deg)
            //vendor-prefix found
            //-o-transform: rotate(180deg)
            //vendor-prefix found
            //-ms-transform: rotate(180deg)
            //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: rotate(180deg);
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        }
    }
    #poweredBy {
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: opacity 0ms;
        opacity: 0;
    }
    #poweredByImg {
        left: 15px;
        bottom: 24px;
        margin: 0;
    }
}

.bg-red {
    background-color: red !important;
}

.contentContainer {
    background-color: $color_fill_3;
//    width: calc(100% - 300px);
 //   float: right;
    height: calc(100vh - 130px);
/*    padding: 30px 30px 0 30px;
    overflow-y: hidden;
    */
}
.content {
    width: 100%;
    height: calc(100vh - 180px);
    p:first-of-type {
        padding-top: 20px;
    }
}
.clearBoth {
    clear: both;
}
.uploaderFile {
    width: 150px;
    height: 255px;
    color: $color_fill_2;
    text-align: center;
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    .far {
        //font-size: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 5px;
    }
}
.fileFinished {
    color: $black;
}
.loadingBar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    padding: 2px;
    border: 2px solid $color_fill_2;
    left: 100px;
    top: 100px;
}
.filler {
    height: 100%;
    border-radius: 5px;
    width: 25%;
    background-color: $color_main_brand;
    display: block;
    &:hover {
        width: 100%;
    }
}
.fine-uploader-dropzone-container {
    width: 95%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 20px;
    background-color: $white;
    border: 4px dashed $color_fill_2;
    padding: 5%;
    color: $color_fill_2;
    margin-top: 10px;
    height: auto;
}
div.breadcrumbs{
    padding: 0px 0px 0px 0px
}
.breadcrumbs {
    margin: 10px 10px 10px 0px;
    display: block;
    padding: 0;
    //font-size: 12px;
    font-style: normal;
    color: $color_main_brand;
}
.disabledIcon {
    color: $gray !important;
}
.disabledPiql {
    color: $gray !important;
    background-color: $gray !important;
    border-color: $gray !important;
}
.listFilter {
    margin-bottom: 5px;
    margin-top: 35px;
    width: auto;
    label {
        width: auto;
        //font-size: 12px;
        margin-right: 5px;
        height: 40px;
        line-height: 40px;
    }
    input {
        @extend %extend_5;
    }
    select {
        @extend %extend_5;
        height: 42px;
        width: 150px;
    }
    option {
        @extend %extend_5;
    }
    input[type=search] {
        background-image: $image_searchicon_url;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 115px 10px;
        //Instead of the line below you could use @include background-origin($origin)
        background-origin: content-box;
        padding-right: 30px;
        width: 150px;
    }
}
input::placeholder {
    text-transform: uppercase;
}
.listError {
    color: $red;
}
input[type=date]::-webkit-inner-spin-button {
    //vendor-prefix found
    //-webkit-appearance: none
    display: none;
}
input {
    font-family: $font_9, $font_10, $font_11, $font_12;
}
th {
    @extend %extend_6;
}
.listPagination {
    ul {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
    li {
        display: inline;
        padding-bottom: 15px;
        margin-right: 65px;
        line-height: 45px;
        text-transform: uppercase;
        a {
            color: $black;
            &:hover {
                color: $color_main_brand;
                font-family: $font_open_sans_bold;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.piqlIt {
    height: 2.2rem;
    background: $color_main_brand;
    background-image: $image_piql-logo-white_url;
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position-x: 1.5rem;
    background-position-y: -0.2rem;
    background-origin: content-box;
    &:hover {
        background-color: $color_fill_dark;
        border: 4px solid $color_fill_dark;
    }
}
.clickable {
    cursor: pointer;
}
.contentOptionsUploadTag {
    width: 300px;
    display: inline-block;
}
#browseContainer {
    border-top: 1px solid $color_main_brand;
    width: 100%;
    height: 100%;
}
#browseLeftNav {
    float: left;
    width: 18%;
    padding-right: 2%;
    padding-top: 2%;
    height: 98%;
    color: $color_signal;
    a {
        color: inherit;
        &:hover {
            color: $color_main_brand;
        }
    }
}
#browseCenter {
    float: left;
    width: 55%;
    background-color: $white;
    margin-top: 1px;
    height: 98%;
    overflow-y: scroll;
    padding: 2% 2% 0 2%;
    padding-top: 2%;
    h2 {
        //font-size: inherit;
        color: $color_main_brand;
        margin-top: 0;
        padding-top: 0;
    }
    .informationTable {
        width: 100%;
        margin-bottom: 30px;
        td {
            &:nth-child(even) {
                padding-left: 20px;
                vertical-align: top;
            }
            &:nth-child(odd) {
                text-align: right;
                vertical-align: top;
                font-family: $font_open_sans_bold;
                width: 40%;
            }
        }
    }
    .fileTable {
        width: 100%;
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid $color_fill_2;
            &:first-child {
                border-bottom: 1px solid $color_main_brand;
            }
        }
        strong {
            font-weight: normal;
            color: $color_signal;
        }
        .title {
            //font-size: 16px;
            position: relative;
            top: -3px;
            color: $black;
        }
        td {
            padding-bottom: 20px;
            padding-top: 20px;
            //font-size: 12px;
            &:first-child {
                width: 40%;
            }
        }
        i {
            //font-size: 46px;
            color: $color_signal;
            float: left;
            padding-right: 15px;
        }
    }
    .grey {
        color: $gray !important;
    }
    table td ul {
        margin: 0 0 0 10px;
        padding: 0 0 0 5px;
    }
}
#browseRightNav {
    float: left;
    width: 18%;
    padding-left: 2%;
    padding-top: 2%;
    height: 98%;
}
.browseNavTitle {
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid $color_fill;
    .add {
        float: right;
        //font-size: 32px;
        color: $color_main_brand;
        line-height: 25px;
    }
}
.holding {
    padding-top: 5px;
    margin-bottom: 5px;
    a {
        padding-left: 10px;
        margin-bottom: 5px;
    }
    &:nth-child(odd) {
        background-color: $color_fill_3;
    }
}
.holdingSubcategory {
    width: 90%;
    background-color: $color_fill_3;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 2px;
    a {
        padding-left: 0;
    }
}
.browseOption {
    margin: 30px 0 60px;
    //font-size: 18px;
    i {
        color: $color_signal;
    }
    a {
        color: inherit;
    }
}
.browseFile {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    .fas {
        //font-size: 1000%;
        display: block;
        margin-bottom: 10px;
    }
}
.browseFileInformation {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.browseLeftNavUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.retrieveTabContainer {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    max-width: 570px;
    padding-right: 20px;
    border-bottom: 1px solid $color_fill_3;
    .retrieveTab {
        position: relative;
        display: inline-block;
        padding: 0.5em 1em 0.5em;
        color: inherit;
        text-decoration: none;
        margin: 0;
        margin-right: 30px;
    }
    .retrieveTab::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: .1em;
        left: 0;
        z-index: -1;
        border-bottom: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px 10px 0 0;
        background: $color_fill_3;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(5px) rotateX(2deg);
    }
    .retrieveTabSelected {
        position: relative;
        display: inline-block;
        padding: 0.5em 1em 0.5em;
        color: inherit;
        text-decoration: none;
        margin: 0;
        margin-right: 30px;
    }
    .retrieveTabSelected::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: .1em;
        left: 0;
        z-index: -1;
        border-bottom: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px 10px 0 0;
        background: $white;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(5px) rotateX(2deg);
    }
}
.accountSettings {
    width: 700px;
    input[type="text"] {
        @extend %extend_7;
    }
    input[type="password"] {
        @extend %extend_7;
    }
    textarea {
        @extend %extend_7;
        height: 70px;
    }
    select {
        @extend %extend_7;
    }
    input[type="radio"] {
        width: auto;
        padding: 0;
        margin-top: 15px;
        height: auto;
        line-height: auto;
    }
    .inputLabel {
        width: 200px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        padding: 5px;
        float: left;
    }
    .inputSubmitCancel {
        @extend %extend_8;
    }
    .inputSubmitSave {
        @extend %extend_8;
    }
}
#mobileMenu {
    opacity: 0;
    visibility: hidden;
    right: -100vw;
    height: 96.5vh;
    padding-top: 3.5vh;
    padding-left: 5vw;
    width: 95vw;
    background-color: $color_fill_3;
    z-index: 9999;
    position: absolute;
    top: 0;
    //font-size: 30px;
    text-transform: uppercase;
    font-family: $font_open_sans_bold;
    color: $color_main_brand;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    ul {
        list-style-type: none;
        margin: 0;
        margin-bottom: 30px;
        margin-top: 15px;
        padding: 0;
        font-weight: normal;
        color: $black;
        li i {
            color: $color_main_brand !important;
            text-align: center;
            width: 50px;
        }
    }
    a {
        color: $black;
    }
}
.mobileMenuVisible {
    opacity: 1 !important;
    visibility: visible !important;
    right: 0 !important;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
}
@media screen and(min-width: 1405px) {
    .listFilter input[type=search] {
        background-image: $image_searchicon_url;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 310px 10px;
        //Instead of the line below you could use @include background-origin($origin)
        background-origin: content-box;
        padding-right: 30px;
        width: 350px;
    }
}
@media screen and(min-width: 0px) and(max-width: 1400px) {
    .piqlLogoOuter {
        box-shadow: 3px 0 0 0 $color_main_brand;
        width: 246px;
        padding-right: 275px;
        margin-right: 100px;
        margin-top: 40px;
        margin-left: 25px;
        float: left;
        position: absolute;

    }
    .piqlLogo {
        .img {
            text-align: center;
        }
        img {
            padding-top: 7px;
            width: 160px;
            left: 100px;
        }
    }

    .customerLogo {
        height: 40px;
        position: absolute;
        left: 380px;
        top: 10px;
    }

   .piqlNav {
       top: 50px;
       padding-top: 50px;
       position: absolute;
       left: 20px;
    }

}
/*
@media screen and(max-width: 1210px) {
    hr {
    }
    #piqlLogo {
        float: none;
        margin: 0;
        width: 75%;
        border-right: 0;
        .img {
            padding-top: 33px;
            text-align: left;
            padding-left: 30px;
        }
    }
    #piqlNav {
        margin: 0;
        max-height: 110px;
        top: -75%;
        li {
        }
        a {
            color: black !important;
        }
    }
    #customerLogo {
        top: 20px;
        left: 300px;
        height: 80px;
        display: block;
    }
    #piqlOptions {
        top: -7px;
        right: 90px;
        height: 110px;
        width: auto;
        padding-right: 0;
        background-color: transparent;
        height: 35px;
        text-align: center;
        .fa-info-circle {
            margin-right: 0;
        }
    }
    .burgerMenu {
        display: block;
        position: absolute;
        right: 15px;
        top: 40px;
        padding: 10px;
        //font-size: 30px;
        color: $color_main_brand;
        z-index: 999;
    }
    .closeNotifications {
        //font-size: 34px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        color: $color_signal;
    }
    .accountSettings {
        width: 90vw;
        margin-left: 3vw;
        input {
            width: calc(100vw - 60px);
        }
        textarea {
            width: calc(100vw - 60px);
        }
        select {
            width: calc(100vw - 60px);
        }
        input[type="radio"] {
            width: auto;
        }
    }
    .sideMenu {
        display: block;
        top: 0;
        width: 100vh;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        padding: 0;
        margin: 0;
        ul {
            margin-top: 100px;
            li i {
                font-size: 2rem;
            }
        }
        .leftMenuItem {
            line-height: 20px;
        }
        #welcomeText {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: -999px;
        }
        #collapseSideMenu {
            visibility: hidden;
            img {
                visibility: hidden;
            }
        }
        #poweredBy {
            display: none;
        }
        #poweredByImg {
            left: 20px;
            bottom: 10px;
            margin: 0;
        }
    }
    .white {
        color: $white;
    }
    .black {
        color: $black;
    }
    .container {
        height: calc(100vh - 130px);
        width: calc(100vw - 40px);
    }
    .contentContainer {
        background-color: $color_fill_3;
        width: calc(100vw - 30px);
        float: left;
        height: calc(90%);
        padding: 30px 15px 0;
    }
    .content {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    table {
        font-size: 1rem;
        width: calc(100vw - 60px);
    }
    .listFilter {
        label {
            display: none;
        }
        input {
            display: none;
        }
        select {
            display: none;
        }
        input[type="search"] {
            display: block;
            width: calc(100vw);
            margin-left: 0;
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: calc(100vw - 70px) 10px;
            //Instead of the line below you could use @include background-origin($origin)
            background-origin: content-box;
            padding-right: 70px;
            margin-right: 0;
        }
    }
    em {
        //font-size: 12px;
    }
    .chart {
        position: relative;
        height: 20vh;
        width: 95%;
        float: left;
        margin: 0 0 50px 0;
    }
    .listPagination ul li {
        //font-size: 10px;
        margin-right: 40px;
        text-align: center;
    }
}
*/
@media screen and(max-width: 630px) {
    #loginForm {
        margin-top: 0;
        height: 100vh;
        width: 100vw;
        background-color: $color_fill_3;
    }
    h1 {
        font-size: 2.5px;
    }
    .titleIcon {
        font-size: 2rem;
    }
    #notificationsList {
        left: 0;
        top: 0;
        right: 0;
        width: calc(100vw - 4px);
        height: calc(100vh - 17px);
        border: 0;
        overflow-y: scroll;
        strong {
            text-align: center;
            display: block;
        }
    }
    #piqlLogo {
        width: 75%;
        margin-top: 0;
        padding: 0;
        border-right: 2px solid $color_main_brand;
        float: none;
        position: relative;
        .img {
            text-align: left;
            padding-left: 10px;
            padding-top: 10px;
        }
        img {
            width: 246px;
        }
    }
    #customerLogo {
        position: absolute;
        right: 10px;
        left: auto;
        top: 20px;
        height: 80px;
    }
    #piqlOptions {
        float: none;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 15px;
        width: 200px;
        margin: 0;
    }
    .burgerMenu {
        top: 72px;
    }
    #piqlOptions i {
        margin-right: 0;
    }
}
@media screen and(max-width: 60px) {
    #customerLogo {
        top: 20px;
        height: 80px;
        margin-right: 20px;
        margin-top: 100px;
    }
    #piqlLogo img {
        width: 50%;
    }
}
.filelabel i {
    color: $white !important;
}

.list-group-item {
    box-sizing: content-box;
    background-color: $color_signal;
    border-color: $white;
    color: $black;
    &.active {
        background-color: $color_main_brand !important;
        border: 1px solid rgba(0, 0, 0, 0.125) !important;
    }
    &:hover{
        background-color: $color_main_brand !important;
        border: 1px solid rgba(0, 0, 0, 0.125) !important;
    }
}

.dashboard-halfStatsRow {
    padding-bottom: 4rem;
}

.dashboard-card {
    padding-bottom: 6rem auto;
    /*height: 8rem*/;
    border-radius: 25px;
    background: $color_background;
    background: $color_secondary_1;
}

.fill1 {
    background: $color_fill_1 !important;
}

.fill2 {
    background: $color_fill_2 !important;
}

.fill3 {
    background: $color_fill_3 !important;
}


.form-control {
    height: 3rem !important;
    &:focus {
        background-clip: padding-box;
        border: 1px solid $color_fill_2_transparent !important;
        box-shadow: 0 0 0 0.2rem $color_fill_2_transparent !important;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
.subTitle {
    font-family: $font_open_sans_semibold;
    color: $color_main_brand;
    margin-bottom: 20px;
}

.identifier {
    font-family: $font_open_sans_semibold;
    color: $black;
}
.bg-white {
    background-color: $white !important;
    color: $black !important;
}

.bg-brand {
    color: $black !important;
    background-color: $color_main_brand !important;
}

.bg-signal{
    color: $black !important;
    background-color: $color_signal !important;
}


.fg-black {
    color: $black !important;
}

.fill-height {
    padding-bottom: 100% !important;
}

input[type=text] {
    background-color: white;
    border: 0;
    height: 36px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    padding: 4px;
}

.contactItems {
    color: $black;
    list-style-type: none;
    a {
        color: $color_secondary;
    }
}

.addressList {
    list-style-type: none;
    padding-left: 0;
}

.identityList {
    padding-left: 1em;
}

.titleIcon {
    color: $color_background_dark;
    font-size: 2.5rem;
}

.actionIcon {
    color: $color_signal;
    font-size: 1.75rem;
}


.thumbnailIcon{
    color: $color_signal;
}

.tree-list-group{
    color: $color_fill_verydark;
}
.tree-branch.selected > .tree-node > .tree-node-label {
    background-color: $color_fill_3 !important;
    color: $color_main_brand !important;
}
.tree-node-label {
    &:hover {
        background-color: $color_fill_2 !important;
        color: $color_signal !important;
    }
}

.p-field {
    height: 2.8rem;
}

.top-active {
    a {
        color: $color_main_brand !important;
    }
}

.top-inactive {
    a {
        color: $color_fill !important;
    }
}

.w-95 {
    width: 95% !important;
}

.hover-hand {
    &:hover {
        cursor: pointer;
    }
}

.signal {
    color: $color_signal !important;
}

.w-300 {
    width: 300px !important;
}
.w-250 {
    height: 50px !important;
}
.h-80 {
    height: 80px !important;
}

.navbar-divide {
    margin-left: 7px;
    border-right: 2px solid $color_main_brand;
}

.mt-2em {
    margin-top: 1.0rem;
}

.list-group-item-light {
    background-color: $white;
    border-color: $color_fill_3;
    &:active {
        background-color: $color_main_brand;
    }
    &:hover {
        background-color: $color_fill_3 !important;
    }
}
.list-group-item-header {
    background-color: $color_fill_2;
}

.description-area {
    resize: none;
    height: 15em !important;
}

.list-action-icon {
    //font-size: 21px;
}

.progress {
    height: 3rem;
}

.uploadFileList {
    min-height: 5rem;
}

.progress-bar{
    margin-top: 1px;
    border-radius: 8px;
    position:relative;
    border:#ccc solid 1px;
    width: auto;
    height: 3rem;
    vertical-align: middle;
    overflow:hidden;
    font-family:$font_agenda;
    //font-size:20px;
    .bar{
        position:absolute;
        top:0;
        height:100%;
        overflow:hidden;
        span{
            padding-top: 1px;
            position:absolute;
            display:block;
            width: auto;
            height:100%;
            text-align:center;
        }
        &.positive{
            background:$color_signal;
            left:0;
            width:54%;
            span{
                left:0;
                color:$color_fill_0;
            }
        }
        &.negative{
            background:$color_fill_0;
            right:0;
            width:46%;
            span{
                right:0;
                color:$color_fill_dark;
            }
        }
    }
}

.page-item {
        margin-bottom: 0.7rem;
    &.active .page-link {
        color: $white;
        background-color: $color_main_brand;
        border-color: $color_main_brand;
    }
    .page-link {
        font-size: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
    &.disabled .page-link {
        color: $color_fill_3;
        fotn-size: rem;
    }
}

.color-main-brand {
    color: $color_main_brand !important;
}

.color-main-brand {
    color: $color_background_dark !important;
}

.text-dark {
    color: $color_background_dark !important;
}
.pagerRow {
    position: absolute;
    bottom: 7.5rem;
    margin-bottom: 0rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.plistIcon {
    color: $color_signal !important;
    font-size: 1.8rem;
}
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
  body {
        font-size: 10px;
        line-height: 1.5rem;
        .mt2-em {
            margin-top: 1.5em;
        }
        .mt-5 {
            margin-top: 2.2rem !important;
        }

        .w-250 {
            height: 30px !important;
        }

        .btn {
            padding: 0.65rem !important;
        }

        .h-80 {
            height: 60px !important;
        }

        .col-form-label-sm {
            padding-top: calc( .2rem + 1px);
            padding-bottom: calc( .2rem + 1px);
            line-height: 1.2;
        }
    }
}
*/
.navLinks {
    top: 0;
    right: -25vw;
    font-size: 1.2rem;
    padding-top: 2rem;
}

.col-form-label-sm {
    font-size: 0.7rem;
}

.stats {
    height: 13vw;
}

.halfStats {
    text-align: center;
    max-width: 7.8rem;
    /*height: 5rem;*/
    margin-bottom: 1rem auto;
    padding: 1rem auto;

    h2 {
        margin-top: 0.8rem;
        font-size: 2rem;
        color: white;
    }

    em {
        font-size: 0.75rem;
        color: white;
        margin-bottom: 0.75rem;
    }
}
.halfStatsRow {
    justify-content: space-evenly;
    /*height: 5vw;*/
    /*padding-bottom: 0rem auto;*/
}
