// Variables
@import 'variables';

//colors
$white: white;
$black: black;
$red:  red;
$gray: grey;

$color_main_brand: #cc5d33;
$color_main_brand_light: #ff6633;
$color_background: #4b3440;
$color_background_dark: #3a2c35;
$color_background_1: #6a4b5b;
$color_background_1_transparent: #6a4b5b40;
$color_background_2: #b092a2;
$color_background_2_transparent: #b092a240;
$color_background_3: #d7c5cf;
$color_background_3_transparent: #d7c5cf40;
$color_secondary: #8f0052;
$color_secondary_1: #aa405d;
$color_secondary_2: #c27484;
$color_secondary_2_transparent: #c2748440;
$color_secondary_3: #deb3b9;
$color_secondary_3_transparent: #deb3b940;
$color_signal: #ff194d;
$color_signal_transparent: #ff194d60;
$color_signal_light_transparent: #ff194d20;
$color_fill: #808080;
$color_fill_transparent: #80808040;
$color_fill_0: #f0f0f0;
$color_fill_1: #ababab;
$color_fill_2: #c7c7c7;
$color_fill_2_transparent: #c7c7c740;
$color_fill_3: #e8e8e8;
$color_fill_3_transparent: #e3e3e340;
$color_fill_dark: #605f5f;
$color_fill_verydark: #403f3f;

//fonts
$font_agenda: 'Agenda';
$font_agenda_bold: 'Agenda Bold';
$font_agenda_black: 'Agenda Bold';
$font_1: 'Agenda';
$font_2: 'Gill';
$font_open_sans: 'OpenSans';
$font_open_sans_bold: 'OpenSans Bold';
$font_open_sans_semibold: 'OpenSans SemiBold';
$font_open_sans_light: 'OpenSans Light';
$font_4: 'sans-serif';
$font_5: 'Agenda';
$font_6: 'Gill';
$font_7: 'OpenSans';
$font_8: 'sans-serif';
$font_9: 'Agenda';
$font_10: 'Arial';
$font_11: 'Helvetica';
$font_12: 'sans-serif';

//fonts
$font_agenda_url: url('/fonts/Agenda-Regular.otf');
$font_agenda_black_url: url('/fonts/Agenda-Black.otf');
$font_agenda_bold_url: url('/fonts/Agenda-Bold.otf');
$font_opensans_url: url('/fonts/OpenSans-Regular.ttf');
$font_opensans_bold_url: url('/fonts/OpenSans-Bold.ttf');
$font_opensans_semibold_url: url('/fonts/OpenSans-SemiBold.ttf');
$font_opensans_light_url: url('/fonts/OpenSans-Light.ttf');



//images
$image_login-bg_url: url('/images/bg-image.png');
$image_searchicon_url: url('/images/searchicon.png');
$image_piql-logo-white_url: url('/images/piql_logo_white.png');

//@extend-elements
//original selectors
//html, body
%extend_1 {
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    font-family: $font_1, $font_2, $font_open_sans, $font_4;
    margin: 0;
    padding: 0;
    background-color: $color_fill_3;
    position: relative;
    overflow-x: hidden;
    color: $color_fill;
}

//original selectors
//#theForm label, .forgot
%extend_2 {
    //font-size: 10px;
    color: $color_fill_dark;
    width: 100%;
}

//original selectors
//.sideMenu ul .fas, #sideMenu ul .far
%extend_3 {
    font-size: 2rem;
    position: absolute;
    left: 24px;
}


//original selectors
//.listFilter input, .listFilter select, .listFilter option
%extend_5 {
    background-color: $white;
    border: 0;
    vertical-align: top;
    padding-left: 3px;
    color: $color_fill_verydark;
    margin-right: 15px;
    line-height: 40px;
}

//original selectors
//.list table thead, th
%extend_6 {
    text-align: left;
    border: 0;
    padding: 20px;
    background-color: $color_fill_3;
}

//original selectors
//.accountSettings input[type="text"], .accountSettings input[type="password"], .accountSettings textarea, .accountSettings select
%extend_7 {
    width: 460px;
    padding: 5px;
    margin-bottom: 10px;
    border: 0;
    height: 35px;
    //vendor-prefix found
    //-ms-box-sizing: content-box
    //vendor-prefix found
    //-moz-box-sizing: content-box
    //vendor-prefix found
    //-webkit-box-sizing: content-box
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
}

//original selectors
//.accountSettings .inputSubmitCancel, .accountSettings .inputSubmitSave
%extend_8 {
    float: right;
    margin-left: 10px;
    margin-right: 13px;
}


@font-face {
    font-family: $font_agenda;
    src: $font_agenda_url format("opentype");
}

@font-face {
    font-family: $font_agenda_bold;
    src: $font_agenda_bold_url format("opentype");
}

@font-face {
    font-family: $font_agenda_black;
    src: $font_agenda_black_url format("opentype");
}



@font-face {
    font-family: $font_open_sans;
    src: $font_opensans_url format("truetype");
}

@font-face {
    font-family: $font_open_sans;
    src: $font_opensans_url format("truetype");
}

@font-face {
    font-family: $font_open_sans_bold;
    src: $font_opensans_bold_url format("truetype");
}

@font-face {
    font-family: $font_open_sans_semibold;
    src: $font_opensans_semibold_url format("truetype");
}


@font-face {
    font-family: $font_open_sans_light;
    src: $font_opensans_light_url format("truetype");
}

html {
    @extend %extend_1;
}
body {
    @extend %extend_1;
    font-family: 'OpenSans';
    -webkit-text-size-adjust: none;
    overflow-x: scroll;
}

@media (min-height: 900px) {
    body {
        overflow-y: hidden;
    }
}
@media (min-width: 900px) {
    body {
        overflow-x: hidden;
    }
}
.burgerMenu {
    display: none;
}
.fixed_headers {
    width: 750px;
    table-layout: fixed;
    border-collapse: collapse;
    th {
        text-decoration: underline;
        padding: 5px;
        text-align: left;
        &:nth-child(1) {
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
            width: 350px;
        }
    }
    td {
        padding: 5px;
        text-align: left;
        &:nth-child(1) {
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
            width: 350px;
        }
    }
    thead {
        background-color: $color_fill;
        color: $color_fill_3;
        tr {
            display: block;
            position: relative;
        }
    }
    tbody {
        display: block;
        overflow: auto;
        width: 100%;
        height: 300px;
        tr:nth-child(even) {
            background-color: $color_fill_2;
        }
    }
}
.old_ie_wrapper {
    height: 300px;
    width: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    tbody {
        height: auto;
    }
}
.chart {
    position: relative;
    height: 15vh;
    width: 35vw;
    float: left;
    margin: 25px 25px 50px 25px;
}
h1 {
    font-family: 'Agenda' !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}


.pageHeaderText {
    margin-bottom: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 0.75em;
    font-family: $font_agenda_bold !important;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2rem;

}


.noTextTransform {
    text-transform: none;
}
h2 {
    font-family: 'Agenda';
    font-size: 1.6rem;
}
hr {
    border: 0.5px solid $color_main_brand;
    margin-top: 50px;
    margin-bottom: 50px;
}

h5 {
    font-family: 'Agenda';
    font-size: 0.8rem;
}

em {
    display: block;
    margin: 0;
    padding: 0;
    font-style: normal;
    color: $color_fill_dark;
}
a {
    text-decoration: none;
    color: $white;
    &:visited {
        text-decoration: none;
    }
}
.clearboth {
    clear: both;
}

.plist {
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 5rem;
    font-size: 1.0rem;
    border-bottom: 1px solid lightgray;
    background: white;
    align-items: center;
}

.thumbnailList {
    height: 4.5rem;
    font-size: 1.0rem;
    border-bottom: 1px solid lightgray;
    background: white;
    margin-left: 0 !important;
    margin-right: 0 !important;
    align-content: center;
}

.thumbnailImage {
    height: 2.8rem;
    max-width: 5rem;
    margin: 0.05rem;
    padding-bottom: 0.4rem;
}

.upload-widget-back {
    background: $color_fill_0;
}

.file-widget-back {
    background: $color_fill_0;
}


.linked {
    border-bottom: 1px dashed $black;
    color: $black;
}

.plistHeader {
    background-color: $color_fill_0;
    padding: 0.5rem 0px;
    border-bottom: 1px solid $color_background_dark;
    font-family: $font_open_sans;
    font-size: 0.8rem;
    text-align: left;
    color: black;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.listActionItems {
    color: $color_signal;
}

.table-scroll {
    height: 400px;
    overflow: auto;
    margin-top: 20px;
}
.formRow {
    position: relative;
    height: auto;
    margin-bottom: 5px;
    clear: both;
}

.dropdown {
    &-menu{
        background-color: $white;
        outline: 0;
        &:focus{
            background-color: $color_fill_3;
            color: $black;
            outline: 0 !important;
        }

    }
    &-toggle{
        background-color: $white !important;
        color: $black !important;
        outline: 0;
   }
    &-item{
        outline: 0;
        background-color: $white;
        color: $black;
        &.selected {
            background-color: $white;
            outline: 0 !important;
            color: $black;
        }
        &:hover {
            background-color: $color_fill_3;
            color: $black;
            outline: 0 !important;
        }
    }
}

.search-icon-inline {
    position: absolute;
    right: 0.3rem;
    top: 20%;
    z-index: 1000;
}
select {
    width: 100%;
    height: 50px;
    background-color: $white;
    border: 0;
    line-height: 1.5;
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
textarea {
    background-color: $white;
    border: 0;
    height: 30px;
    top: 0;
}
.inputSubmitSave {
    background: $color_main_brand;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    border: 4px solid $color_main_brand;
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    padding: 3px 5px 5px;
    height: 25px;
    margin-bottom: 4px;
}
.inputSubmitCancel {
    background: $gray;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    border: 4px solid $gray;
    width: 80px !important;
    display: inline-block;
    text-transform: uppercase;
    color: $white;
    padding: 3px 5px 5px;
    height: 25px;
    margin-bottom: 4px;
    margin-right: 10px;
}
label {
    display: inline-block;
    width: 200px;
    top: 0;
}

.inputfile {
    display: none; // todo: temporary fix - implement properly when needed
    + .filelabel {
        background: $color_main_brand;
        width: auto;
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        &:hover {
            background-color: $color_fill_dark;
            border: 2px solid $color_fill_dark;
        }
    }
    &:focus + .filelabel {
        outline: 1px dotted $black;
        //vendor-prefix found
        //outline: -webkit-focus-ring-color auto 5px
        background-color: $color_fill_dark;
        border: 2px solid $color_fill_dark;
    }
}

.b-form-datepicker label {
    text-overflow: ellipsis;
    overflow: hidden;
    &.text-break {
        word-break: normal !important;
        overflow-wrap: normal !important;
    }
}

.btn {
    color: $white;
    text-align: center;
    background-color: $color_main_brand;
    outline: 0 !important;
    border: 0;
    &-light {
        outline: 0 !important;
        background-color: $white !important;
    }
    &-sel button {
        color: $color_fill;
        background-color: white;
    }
    &-sel span {
        background-color: $color_fill_3 !important;
    }


    &-radio {
    //    width: 5rem;
    }

    &.active {
        background-color: $color_signal !important;
        color: $white !important;
    }

    &:hover {
        background-color: $color_main_brand_light;
        color: white;
    }

    &:focus {
        outline: none;
        color: black;
        background-clip: padding-box;
        border: 1px solid $color_background_2_transparent !important;
        box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.rounded-circle {
    &.btn {
        &-sel span {
            box-shadow: none;
            background-color: $color_fill !important;
        }
    }
    &.btn.active {
        &-sel span {
            box-shadow: none;
            background-color: $color_signal !important;
        }
    }
}
button {
    .disabled {
        background-color: $gray !important;
    }
}

.btn-right {
    float: right;
}
.btn-left {
    float: left;
}
.btn-full {
    width: 100% !important;
}
.btn-auto {
    width: auto !important;
}
.btn-tiny {
    @extend .btn;
    background-color: transparent;
    font-size: 1rem;
    color: $color_signal;
    &:active {
        @extend .btn-tiny;
    }
    &:focus {
        @extend .btn-tiny;
    }
    &:hover {
        @extend .btn-tiny;
    }

}
:focus {
    outline: none !important;
}
.checkbox {
    appearance: none;
    background-color: $white;
    height: 12px;
    width: 12px;
    //vendor-prefix found
    //-webkit-appearance: none
    background-color: $white;
    border: 1px solid $color_signal;
    padding: 8px !important;
    display: inline-block;
    position: relative;
    margin: 0;
    //vendor-prefix found
    //-webkit-touch-callout: none
    //vendor-prefix found
    //-webkit-user-select: none
    //vendor-prefix found
    //-khtml-user-select: none
    //vendor-prefix found
    //-moz-user-select: none
    //vendor-prefix found
    //-ms-user-select: none
    //Instead of the line below you could use @include user-select($select)
    user-select: none;
    //vendor-prefix found
    //-webkit-tap-highlight-color: transparent
    &:checked {
        background-color: $white;
        border: 1px solid $color_signal;
        color: $color_fill_1;
        //vendor-prefix found
        //-webkit-touch-callout: none
        //vendor-prefix found
        //-webkit-user-select: none
        //vendor-prefix found
        //-khtml-user-select: none
        //vendor-prefix found
        //-moz-user-select: none
        //vendor-prefix found
        //-ms-user-select: none
        //Instead of the line below you could use @include user-select($select)
        user-select: none;
        //vendor-prefix found
        //-webkit-tap-highlight-color: transparent
        &:after {
            content: '\2714';
            //font-size: 14px;
            position: absolute;
            top: 0;
            left: 3px;
            color: $color_signal;
        }
    }
}
.checkbox[disabled] {
    border: 1px solid $gray;
    background: $color_fill_2;
}
.loginForm {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    height: auto;
    padding-bottom: 30px;
    background-color: $color_fill_2;
    color: $color_fill_dark;
    text-align: center;
    label {
        text-align: left;
    }
    img {
        width: 40%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5em;
    }
    a {
        color: $color_fill_dark;
        text-decoration: underline;
        &:hover {
            color: $black;
        }
    }
}
.loginBody {
    height: 100vh;
    background-image: $image_login-bg_url !important;
    background-size: 15%;
    background-repeat: repeat;
}

.theLoginForm {
    margin-left: auto;
    margin-right: auto;
    input {
        background-color: $white;
        height: 2rem;
        width: 20rem;
        //font-size: 16px;
        border: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5%;
    }
    input[type=submit] {
        background-color: $color_main_brand;
        color: $white;
        height: 50px;
        width: 100%;
        text-transform: capitalize;
    }
    label {
        @extend %extend_2;
    }
    .forgot {
        text-align: center;
        margin: 10px 0;
        display: block;
        width: 100%;
    }
}
.forgot {
    @extend %extend_2;
}
.piqlTop {
    background-color: $white;
    height: 8rem;
}
.piqlTopPad {
    height: 8rem;
}
.piqlLogoOuter {
    box-shadow: 3px 0 0 0 $color_main_brand;
    width: 246px;
    padding-right: 275px;
    margin-right: 100px;
    margin-top: 40px;
    margin-left: 25px;
    float: left;
    position: absolute;

}
.piqlLogo {
    .img {
        text-align: center;
    }
    img {
        padding-top: 7px;
        height: 60px;
        left: 100px;
    }
}
.piqlNav {
    max-height: 100px;
    float: right;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    li {
        display: inline;
        padding-top: 75px;
        padding-bottom: 75px;
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 25px;
        line-height: 150px;
        text-transform: uppercase;
        color: $color_fill;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $color_main_brand;
        }
    }
    a {
        text-decoration: none;
        .active {
            color: $color_main_brand;
        }
    }
}
.customerLogo {
    position: absolute;
    left: 380px;
    top: 20px;
    height: 50px;
}
.dropdownList{
    width: 15em;
    background-color: $white;
    border: 2px solid $color_fill_dark;
    padding-top: 15px;
    position: absolute;
    top: 100px;
    right: -1em;
    margin-right: 1.45em;
    text-align: left;
    //font-size: 0.7em;
    z-index: 99999;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 88%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom-color: $color_fill_dark;
        border-top: 0;
        margin-left: -10px;
        margin-top: -10px;
    }
    strong {
        text-transform: uppercase;
        margin: 8px;
        color: $color_signal;
        font-weight: normal;
    }
    .when {
        background-color: $color_fill_2;
        text-transform: uppercase;
        width: 95%;
        color: $white;
        padding-left: 5%;
    }
    ul {
        padding: 15px;
        li {
            color: $color_fill;
            list-style-type: none;
        }
    }
}
.closeNotifications {
    //font-size: 34px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: $color_signal;
}
.container {
    position: absolute;
    left: 0px;
    height: calc(100vh - 180px);
}
.sideMenuOuter {
    max-width: 20rem;
}

.sideMenuCollapsed {
    width: 5em;
}


.col-3 {
    .sideMenu {
        max-width: 20rem;
    }
}


.welcomeText {
    margin: 25px 25px 60px 25px;
    text-transform: uppercase;
    width: 200px;
    float: left;
    visibility: visible;
    opacity: 1;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
}
.poweredBy {
    display: inline-flex;
    position: fixed;
    bottom: 0;
    width: 14rem;
    margin-left: 25px;
    opacity: 1;
    z-index: 2;
}

.poweredByText {
    margin-bottom: 2rem;
    padding-top: 1.2rem;
    display: inline-block;
}

.poweredByImg {
    margin-left: 0.7rem;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    display: inline-block;
    img {
        height: 3.0rem;
        float: left;
        margin-left: 5px;
    }
}
.activePage {
    background-color: $color_main_brand !important;
}
.sidebarWrapper {
    display: inline-table;
}

.bg-red {
    background-color: red !important;
}

.contentContainer {
    background-color: $color_fill_3;
//    width: calc(100% - 300px);
 //   float: right;
    height: calc(100vh - 130px);
/*    padding: 30px 30px 0 30px;
    overflow-y: hidden;
    */
}
.content {
    width: 100%;
    height: calc(100vh - 180px);
    p:first-of-type {
        padding-top: 20px;
    }
}
.clearBoth {
    clear: both;
}
.uploaderFile {
    width: 150px;
    height: 255px;
    color: $color_fill_2;
    text-align: center;
    float: left;
    margin-right: 80px;
    margin-bottom: 80px;
    .far {
        //font-size: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 5px;
    }
}
.fileFinished {
    color: $black;
}
.loadingBar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 10px;
    padding: 2px;
    border: 2px solid $color_fill_2;
    left: 100px;
    top: 100px;
}
.filler {
    height: 100%;
    border-radius: 5px;
    width: 25%;
    background-color: $color_main_brand;
    display: block;
    &:hover {
        width: 100%;
    }
}
.fine-uploader-dropzone-container {
    width: 95%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 20px;
    background-color: $white;
    border: 4px dashed $color_fill_2;
    padding: 5%;
    color: $color_fill_2;
    margin-top: 10px;
    height: auto;
}
div.breadcrumbs{
    padding: 0px 0px 0px 0px
}
.breadcrumbs {
    margin: 10px 10px 10px 0px;
    display: block;
    padding: 0;
    font-style: normal;
    color: $color_main_brand;
}
.disabledIcon {
    color: $gray !important;
}
.disabledPiql {
    color: $gray !important;
    background-color: $gray !important;
    border-color: $gray !important;
}
.listFilter {
    margin-bottom: 5px;
    margin-top: 35px;
    width: auto;
    label {
        width: auto;
        margin-right: 5px;
        height: 40px;
        line-height: 40px;
    }
    input {
        @extend %extend_5;
    }
    select {
        @extend %extend_5;
        height: 42px;
        width: 150px;
    }
    option {
        @extend %extend_5;
    }
    input[type=search] {
        background-image: $image_searchicon_url;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 115px 10px;
        //Instead of the line below you could use @include background-origin($origin)
        background-origin: content-box;
        padding-right: 30px;
        width: 150px;
    }
}

.listError {
    color: $red;
}

th {
    @extend %extend_6;
}
.listPagination {
    ul {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
    li {
        display: inline;
        padding-bottom: 15px;
        margin-right: 65px;
        line-height: 45px;
        text-transform: uppercase;
        a {
            color: $black;
            &:hover {
                color: $color_main_brand;
                font-family: $font_open_sans_bold;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.piqlIt {
    height: 2.7rem;
    width: 100%;
    background: $color_main_brand;
    background-image: $image_piql-logo-white_url;
    background-size: 2.2rem;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-origin: content-box;
    &:hover {
        background-color: $color_fill_dark;
        border: 4px solid $color_fill_dark;
    }
}
.clickable {
    cursor: pointer;
}
.contentOptionsUploadTag {
    width: 130px;
    display: inline-block;
}
.contentOptionsTextinput {
    width: 300px;
    height: 80px;
}
.holding {
    padding-top: 5px;
    margin-bottom: 5px;
    a {
        padding-left: 10px;
        margin-bottom: 5px;
    }
    &:nth-child(odd) {
        background-color: $color_fill_3;
    }
}
.holdingSubcategory {
    width: 90%;
    background-color: $color_fill_3;
    padding-left: 10%;
    padding-top: 5px;
    a {
        padding-left: 0;
    }
}
.browseOption {
    margin: 30px 0 60px;
    //font-size: 18px;
    i {
        color: $color_signal;
    }
    a {
        color: inherit;
    }
}
.browseFile {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    .fas {
        //font-size: 1000%;
        display: block;
        margin-bottom: 10px;
    }
}
.browseFileInformation {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.browseLeftNavUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.retrieveTabContainer {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    max-width: 570px;
    padding-right: 20px;
    border-bottom: 1px solid $color_fill_3;
    .retrieveTab {
        position: relative;
        display: inline-block;
        padding: 0.5em 1em 0.5em;
        color: inherit;
        text-decoration: none;
        margin: 0;
        margin-right: 30px;
    }
    .retrieveTab::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: .1em;
        left: 0;
        z-index: -1;
        border-bottom: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px 10px 0 0;
        background: $color_fill_3;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(5px) rotateX(2deg);
    }
    .retrieveTabSelected {
        position: relative;
        display: inline-block;
        padding: 0.5em 1em 0.5em;
        color: inherit;
        text-decoration: none;
        margin: 0;
        margin-right: 30px;
    }
    .retrieveTabSelected::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: .1em;
        left: 0;
        z-index: -1;
        border-bottom: none;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 10px 10px 0 0;
        background: $white;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: perspective(5px) rotateX(2deg);
    }
}
.accountSettings {
    width: 700px;
    input[type="text"] {
        @extend %extend_7;
    }
    input[type="password"] {
        @extend %extend_7;
    }
    textarea {
        @extend %extend_7;
        height: 70px;
    }
    select {
        @extend %extend_7;
    }
    input[type="radio"] {
        width: auto;
        padding: 0;
        margin-top: 15px;
        height: auto;
        line-height: auto;
    }
    .inputLabel {
        width: 200px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
        padding: 5px;
        float: left;
    }
    .inputSubmitCancel {
        @extend %extend_8;
    }
    .inputSubmitSave {
        @extend %extend_8;
    }
}
.mobileMenuVisible {
    opacity: 1 !important;
    visibility: visible !important;
    right: 0 !important;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
}

.filelabel i {
    color: $white !important;
}

.sideMenu {
    background-color: $color_background_1;
    font-size: 0.9rem;
    height: 90vh;
    min-width: 17rem;
    color: $white;
    overflow: hidden;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
        background-color: $color_background_dark;
        border-color: $color_background;
        text-transform: uppercase;
        &:hover {
            background-color: $color_main_brand;
        }
    }
    a:hover {
        text-decoration: none;
    }

    .list-group-item {
        padding-right: 1rem;
        border: none !important;
        border-radius: 0 !important;
        box-sizing: content-box;
        background-color: $color_background_dark;
        color: white;
        &.active {
            background-color: $color_main_brand !important;
        }
        &:hover{
            background-color: $color_main_brand_light;
        }
        & .fas {
            width: 2rem;
            font-size: 2rem;
        }
        .leftMenuItem {
            margin-left: 1rem;
            display: inline-block;
            vertical-align: super;
            text-decoration: none;
        }
    }
    &-collapsed {
        @extend .sideMenu;
        min-width: 5rem;
        width: 5rem;
        .leftMenuItem {
            visibility: hidden;
        }
        .welcomeText {
            visibility: hidden;
        }

    }
}



.dashboard-card {
    border-radius: 0.25rem;
    background: $color_background;
    background: $color_secondary_1;
}

.fill1 {
    background: $color_fill_1 !important;
}

.fill2 {
    background: $color_fill_2 !important;
}

.fill3 {
    background: $color_fill_3 !important;
}


.form-control {
    color: black;
    &:focus {
        border: 1px solid $color_fill_2_transparent !important;
        background-clip: padding-box;
        border-radius: 0.25rem;
        box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
        outline: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}
.subTitle {
    font-family: $font_open_sans_semibold;
    color: $color_main_brand;
    margin-bottom: 20px;
}

.identifier {
    font-family: $font_open_sans_semibold;
    color: $black;
}
.bg-white {
    background-color: $white !important;
    color: $black !important;
}

.bg-brand {
    color: $black !important;
    background-color: $color_main_brand !important;
}

.bg-signal{
    color: $black !important;
    background-color: $color_signal !important;
}

.bg-fill {
    background-color: $color_fill;
}

.bg-fill-light {
    background-color: $color_fill_1;
}

.bg-fill-verylight {
    background-color: $color_fill_2;
}

.bg-secondary {
    background-color: $color_secondary;
}

.fg-black {
    color: $black !important;
}

.fg-white {
    color: $white !important;
}


.fill-height {
    padding-bottom: 100% !important;
}

.contactItems {
    color: $black;
    list-style-type: none;
    a {
        color: $color_secondary;
    }
}

.addressList {
    list-style-type: none;
    padding-left: 0;
}

.identityList {
    padding-left: 1em;
}

.pageHeader {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .titleText {
        color: $color_fill_verydark;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .titleRow {
        border-bottom: 1px solid $color_fill;
        margin: 0;
        padding: 0;
    }
    .titleIcon {
        color: $color_fill_verydark;
        font-size: 2.5rem;
        margin-right: 2rem;
    }
    .ingressText {
        font-size: 1rem;
        margin-left: 6rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;
    }
}



.actionIcon {
    color: $color_signal;
    font-size: 1.3rem;
    margin: 0.25rem;
}

.topIcon {
    color: white;
    font-size: 1.2rem;
    margin-left: 0.25rem;
    margin-top: 0.4rem;
}


.thumbnailIcon{
    color: $color_signal;
}

.tree-list-group{
    color: $color_fill_verydark;
}
.tree-branch.selected > .tree-node > .tree-node-label {
    background-color: $color_fill_3 !important;
    color: $color_main_brand !important;
}
.tree-node-label {
    &:hover {
        background-color: $color_fill_2 !important;
        color: $color_signal !important;
    }
}

.p-field {
    height: 2.8rem;
}

.top-active {
    a {
        color: $color_main_brand !important;
    }
}

.top-inactive {
    a {
        color: $color_fill !important;
    }
}

.w-95 {
    width: 95% !important;
}

.hover-hand {
    &:hover {
        cursor: pointer;
    }
}

.signal {
    color: $color_signal !important;
}

.w-300 {
    width: 300px !important;
}
.w-250 {
    height: 50px !important;
}
.h-80 {
    height: 80px !important;
}

.navbar-divide {
    margin-left: 7px;
    border-right: 2px solid $color_main_brand;
}

.mt-2em {
    margin-top: 1.0rem;
}

.list-group-item-light {
    background-color: $white;
    border-color: $color_fill_3;
    &:active {
        background-color: $color_main_brand;
    }
    &:hover {
        background-color: $color_fill_3 !important;
    }
}
.list-group-item-header {
    background-color: $color_fill_2;
}

.description-area {
    resize: none;
    height: 15em !important;
}

.list-action-icon {
    //font-size: 21px;
}

.bucket-progress {
    width: 100%;
    height: 3rem;
}


.bucket-text {
    font-size: 1.2rem;
}

.upload-text {
    font-size: 1rem;
    color: $white !important;
}

.upload-progress {
    height: 2.5rem;
}
.uploadFileList {
    min-height: 5rem;
}

.page-item {
        margin-bottom: 0.7rem;
    &.active .page-link {
        color: $white;
        background-color: $color_main_brand;
        border-color: $color_main_brand;
    }
    .page-link {
        font-size: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
    &.disabled .page-link {
        color: $color_fill_3;
        fotn-size: rem;
    }
}

.color-main-brand {
    color: $color_main_brand !important;
}

.color-main-brand {
    color: $color_background_dark !important;
}

.text-dark {
    color: $color_background_dark !important;
}
.pagerRow {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.pagerBottom {
    left: 25vw;
}

.plistIcon {
    color: $color_signal !important;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.navLinks {
    top: 0;
    right: -25vw;
    font-size: 1.2rem;
    padding-top: 2rem;
}

.col-form-label-sm {
    font-size: 0.9rem;
    color: $color_fill;
    padding-bottom: calc(.20rem + 1px);
}

.graphs {
    height: 25vh;
}

.pieChart {
    width: 50vh;
}
.halfStats {
    text-align: center;
    min-width: 6vw;
    min-height: 6vw;
    margin: 0.1rem;

    .value {
        font-family: $font_open_sans_bold;
        margin-top: 0.6rem;
        font-size: 0.8rem;
        color: white;
    }

    .legend {
        font-family: $font_open_sans;
        font-size: 0.6rem;
        color: white;
        margin-bottom: 0rem;
        text-overflow: ellipsis;
    }
}

.modal-title {
    margin: 0 auto;
}
.modalHeader {
    font-family: $font_agenda;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}

.componentHeader {
    margin: 3rem;
    height: 10rem;
}

.componentBody {
    margin: 3rem;
}

.form-group{
    color: $black;
    border: none;
    outline: 0;
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
        border: 1px solid $color_signal_transparent !important;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.form-control.focus {
  color: #495057;
  background-color: #fff;
  box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
  border: 1px solid $color_fill_2_transparent !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: 0;
}

.form-control.focus.is-valid {
    border: 1px solid $color_fill_2_transparent !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
    outline: 0;
}

.input-invalid {
    box-shadow: 0 0 0 0.2rem $color_signal_transparent !important;
    border: 1px solid $color_signal_transparent !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: 0;
}

input:invalid {
    @extend .input-invalid;

    &:focus {
        @extend .input-invalid;
    }
}

.form-control.focus.is-invalid {
    box-shadow: 0 0 0 0.2rem $color_signal !important;
    border: 1px solid $color_signal_transparent !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: 0;
}

.b-form-btn-label-control {
  background-image: none;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
    outline: none !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: none;
    box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bootstrap-select .dropdown-toggle:focus-within {
    outline: none !important;
    outline-offset: none;
    box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
}


.b-form-btn-label-control > .btn {
    border: none !important;
    box-shadow: none !important;
}

.b-form-btn-label-control:focus-within  {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem $color_fill_transparent !important;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: $color_fill_1;
}

.sideMenuCollapsed .list-group-item {
}

.vue-fine-uploader-file-input {
    display: inline-block;
}
.form-control-btn {
    height: 38px;
    margin-top: 0 !important;
}
